

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.inter-font{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
   
  }

  @import url('https://fonts.cdnfonts.com/css/miama');

  .miama-font{
    font-family: 'Miama', sans-serif;
  }
  
  

  /* shared styles */
.display-flex{
    display: flex;
}

.bg{
    background-color: rgba(17, 17, 17, 1);
}
.text-white{
    color: rgba(255, 255, 255, 1);
}

.text-orange{
    color: rgba(230, 83, 60, 1);
}

.text-off-white{
    color: rgba(239, 237, 232, 0.65);
}
  /* header styles */


  /* navbar related styles */
  .navbar{
    justify-content: space-between;
    background-color: rgba(17, 17, 17, 1);
    
  }

  .navbar h3{
    font-style: italic;
    font-weight: bold;
  }

  .navbar img{
    
  }
.nav-item{
    list-style: none;
    margin-right: 30px;
}
.nav-link{
    text-decoration: none;
    color: rgba(255, 255, 255, 1);
 
}

/* banner related styles */
.banner-content{
    color: white;
    margin: 0 auto;
    text-align: center;
}
.banner-tittle{
    font-weight: bolder;
}

.background-c
.mile-section{
    background-color: rgba(34, 34, 34, 1);
}